In [4]:
import pandas as pd
import numpy as np

In [8]:
prices = pd.read_csv("round-1-island-data-bottle/prices_round_1_day_-2.csv", sep = ";")
prices = pd.concat([prices, pd.read_csv("round-1-island-data-bottle/prices_round_1_day_-1.csv", sep = ";")])
prices = pd.concat([prices, pd.read_csv("round-1-island-data-bottle/prices_round_1_day_0.csv", sep = ";")])
prices

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,-2,0,AMETHYSTS,9996,1,9995.0,25.0,NaN,NaN,10004,1,10005.0,25.0,NaN,NaN,10000.0,0.0
1,-2,0,STARFRUIT,4997,26,NaN,NaN,NaN,NaN,5003,26,NaN,NaN,NaN,NaN,5000.0,0.0
2,-2,100,AMETHYSTS,10000,5,9995.0,20.0,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10002.5,0.0
3,-2,100,STARFRUIT,5000,5,4998.0,6.0,4997.0,20.0,5004,20,NaN,NaN,NaN,NaN,5002.0,0.0
4,-2,200,STARFRUIT,4997,1,4996.0,30.0,NaN,NaN,5003,31,NaN,NaN,NaN,NaN,5000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0,999700,STARFRUIT,5053,1,5048.0,26.0,NaN,NaN,5054,2,5055.0,24.0,NaN,NaN,5053.5,0.0
19996,0,999800,STARFRUIT,5047,27,NaN,NaN,NaN,NaN,5052,1,5054.0,27.0,NaN,NaN,5049.5,0.0
19997,0,999800,AMETHYSTS,9995,27,NaN,NaN,NaN,NaN,10005,27,NaN,NaN,NaN,NaN,10000.0,0.0
19998,0,999900,STARFRUIT,5048,2,5047.0,21.0,NaN,NaN,5054,23,NaN,NaN,NaN,NaN,5051.0,0.0
19999,0,999900,AMETHYSTS,9996,2,9995.0,21.0,NaN,NaN,10004,2,10005.0,21.0,NaN,NaN,10000.0,0.0

In [11]:
trades = pd.read_csv("round-1-island-data-bottle/trades_round_1_day_-2_nn.csv", sep = ";")
trades = pd.concat([trades, pd.read_csv("round-1-island-data-bottle/trades_round_1_day_-1_nn.csv", sep = ";")])
trades = pd.concat([trades, pd.read_csv("round-1-island-data-bottle/trades_round_1_day_0_nn.csv", sep = ";")])
trades

      timestamp  buyer  seller     symbol   currency    price  quantity
0             0    NaN     NaN  AMETHYSTS  SEASHELLS   9996.0         1
1             0    NaN     NaN  STARFRUIT  SEASHELLS   5003.0         1
2             0    NaN     NaN  AMETHYSTS  SEASHELLS   9996.0         1
3           100    NaN     NaN  STARFRUIT  SEASHELLS   5004.0         6
4           900    NaN     NaN  STARFRUIT  SEASHELLS   5001.0         2
...         ...    ...     ...        ...        ...      ...       ...
5312     998800    NaN     NaN  STARFRUIT  SEASHELLS   5050.0         1
5313     998800    NaN     NaN  AMETHYSTS  SEASHELLS  10002.0         1
5314     999500    NaN     NaN  AMETHYSTS  SEASHELLS   9995.0         2
5315     999500    NaN     NaN  STARFRUIT  SEASHELLS   5049.0         2
5316     999600    NaN     NaN  STARFRUIT  SEASHELLS   5048.0         1

[16150 rows x 7 columns]